table {
    border-collapse: collapse;  /* セルの線を重ねる */
    margin: 10% auto;
    padding-top: 20rem;
}
 
th,td {
    padding: 5px 10px;          /* 余白指定 */
}
 
th {
    background-color: #2196F3;  /* 背景色指定 */
    color:  #fff;               /* 文字色指定 */
    font-weight:  normal;       /* 文字の太さ指定 */
    position:  relative;        /* 位置指定 */
    z-index: 10;                /* 重なり調整 */
}
 
td {
    background-color:  #c0c9ff; /* 背景色指定 */
    padding-left: 25px;         /* 余白指定 */
}
 
tbody th::after {
    content:'';                 /* 空の要素を作る */
    position:  absolute;        /* 位置指定 */
    height: 24px;               /* 高さ指定 */
    width: 24px;                /* 幅指定 */
    background-color: #2196F3;  /* 背景色指定 */
    transform:  rotate(45deg);  /* 要素を回転 */
    top: 5px;                   /* 位置指定 */
    right: -12px;               /* 位置指定 */
    z-index:  -1;               /* 重なり調整 */
}
 
tr {
    border-bottom:  solid #fff; /* 線指定 */
}